{% extends 'blog_app/base.html' %} {% load tailwind_filters %} {% block title %}
Profile {% endblock %} {% block body %}
<div class="container m-auto flex justify-center items-center pt-4">
  <img src="{{ user.profile.image.url }}" alt="profile-picture" class="w-24 h-24 rounded-full" />
  <div class="w-full ml-6">
    <h1 class="font-body font-medium text-2xl py-4">
      {{ user.username|title }}
    </h1>
    <p class="font-body text-md pb-4">{{ user.email }}</p>
  </div>
</div>
<form method="POST" enctype="multipart/form-data" class="container m-auto mt-6">
  {% csrf_token %}
  <fieldset class="font-body">
    {{ user_update_form|crispy }} {{ profile_update_form|crispy }}
  </fieldset>
  <button type="submit" class="
      my-8
      px-6
      py-2
      rounded
      text-white
      font-normal font-poppins
      text-md
      bg-blue-800
      shadow-lg
      active:shadow
    ">
    Update
  </button>
</form>
{% endblock %}