{% extends 'blog_app/base.html' %} {% load tailwind_filters %} {% block title %}
Profile {% endblock %} {% block body %}

<div class="container m-auto flex justify-center items-center pt-4">
    <img src="{{ user.profile.image.url }}" alt="profile-picture" class="w-24 h-24 rounded-full" />
    <div class="w-full ml-6">
        <h1 class="font-body font-medium text-2xl py-4">{{ user.username|title }}</h1>
        <p class="font-body text-md pb-4">{{ user.email }}</p>
    </div>
</div>
{% endblock %}