{% extends 'blog_app/base.html' %}
{% load tailwind_filters %}
{% block title %}
Register
{% endblock %}
{% block body %}
<div class="flex bg-yello-100">
    <div class="p-6 flex flex-col justify-between h-screen w-full md:w-1/2 mx-auto">
        <div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="font-body">
                    {{ form|crispy }}
                </fieldset>
                <button type="submit"
                    class="my-4 px-6 py-2 rounded text-white font-normal font-poppins text-md bg-blue-800 shadow-lg active:shadow">Register</button>
            </form>
            <p class="py-4 font-body text-sm text-gray-700">Already have an account?
                <a href={% url "login" %} class="text-blue-900 font-body underline"> sign in</a>
            </p>
        </div>
    </div>
    <div class="w-1/2 hidden md:block">
        <img class="w-full h-screen object-cover"
            src="https://c.pxhere.com/photos/e0/95/rottweiler_puppy_dog_background_thoroughbred_animal_white_black-705570.jpg!d"
            alt="railtracks-bg">
    </div>
</div>
{% endblock %}