{% extends "blog_app/base.html" %}
{% block title %}
Blog
{% endblock title %}
{% block body %}
<h1 class="font-bold text-2xl px-4 py-6">Posts</h1>
{% for post in posts %}
<article class="container p-4 font-body bg-gray-100 rounded antialiased">
    <h1 class="font-medium text-xl pb-4">{{post.title}}</h1>
    <div class="flex justify-between w-full pb-4">
        <p class="text-sm font-body font-medium">{{post.author}}</p>
        <p class="text-sm font-body font-medium">posted on {{post.date_posted|date:'j b Y'}}</p>
    </div>
    <p class="font-body font-normal">{{post.content}}</p>
</article>
{% endfor %}
{% endblock %}