{% extends 'blog_app/base.html' %} {% block body %}
<h1 class="font-poppins container mx-auto text-2xl font-medium p-6  w-full
md:w-3/4">Post Detail</h2>
<article
  class="
    container
    mx-auto
    my-6
    flex
    items-center
    w-full
    md:w-3/4
    p-6
    rounded-lg
  "
>
  <img
    src="{{ object.author.profile.image.url }}"
    alt="avatar"
    class="rounded-full w-24 h-24 md:w-36 md:h-36"
  />
  <div class="w-full ml-6">
    <h1 class="font-medium font-poppins text-xl md:text-2xl">
      {{ object.title }}
    </h1>
    <div class="w-full flex justify-between py-6">
      <p class="font-body font-medium text-sm">{{ object.author }}</p>
      <p class="font-body font-medium text-sm">
        {{ object.date_posted|date:"F d, Y" }}
      </p>
    </div>
    <p class="w-full font-poppins">{{ object.content }}</p>
  </div>
</article>
{% endblock %}
